---
import Layout from '@/layouts/Layout.astro';
import { works } from '@/data/work';
import { cn } from '@/lib/className';
---

<Layout title="Highlights" description="A showcase of my work, projects, and contributions.">
  <div class="-mt-16 flex flex-col space-y-16 px-8">
    <div class="flex flex-col space-y-16">
      <h1>Highlights</h1>
      <p class="text-tertiary max-w-2xl">
        Here's a list of some of the things I've worked on,
        including personal projects, open source contributions, and
        professional work.
      </p>
    </div>
    <div class="columns-1 gap-2 sm:columns-2 md:columns-3 [&>div:not(:first-child)]:mt-2">
      {works.map((work) => (
        <div
          class={cn(
            'group relative flex break-inside-avoid flex-col space-y-4 rounded-lg bg-gray-100 px-2 py-2.5 text-gray-200 dark:bg-gray-800',
          )}
        >
          <div class={cn('relative rounded-lg', work.h || 'h-48', 'overflow-hidden')}>
            <img
              alt={work.title}
              class="absolute h-full w-full rounded-lg object-cover transition-all duration-200 group-hover:blur-xl"
              src={work.img}
            />
            <div class="absolute inset-0 bg-gradient-to-t from-transparent to-gray-800 opacity-60 transition-opacity duration-200 group-hover:opacity-90"></div>
          </div>

          <div class="absolute flex w-full flex-row justify-between pl-4 pr-8 transition-all duration-200 group-hover:opacity-0">
            <span>{work.title}</span>
            <span class="font-mono">{work.description}</span>
          </div>

          <div class="absolute inset-0 z-20 flex select-none flex-col items-center justify-center space-y-4 opacity-0 transition-opacity duration-200 group-hover:opacity-100">
            <div class="flex select-none flex-col">
              <span class="font-bold">{work.title}</span>
              <span>{work.description}</span>
              {work.company && <span>{work.company}</span>}

              <div class="mt-4 select-none">
                {work.authors?.map((author) => (
                  <span class="block">{author}</span>
                ))}
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>
